
.stc-datepicker:before, .stc-datepicker:after {
  top: -30px;
  position: absolute;
}
.stc-datepicker:before {
  content: "Arrival Date";
  left: 10px;
}
.stc-datepicker:after {
  content: "Departure Date";
  right: 10px;
}

.stc-datepicker__date {
  display: inline-block;
  margin: 0 8px;
}

.stc-datepicker__end {
  float: right;
}

.stc-datepicker--oneoftwo {
  text-align: center;
}

.stc-datepicker {
  /* Important */
  position: relative;
  margin-top: 25px;
  width: 100%;
  /* Style */
  cursor: pointer;
  background: white;
  border: 1px solid #d6d6d6;
  color: #6b6b6b;
  font-family: "open sans";
  font-size: 10pt;
  text-align: left;
  height: 36px;
  line-height: 36px;
}
.stc-datepicker--notitles {
  margin-top: 0;
}
